
        body  {
            background-image: url("certificate.html/portfolio-background.jpg");
            background-color: #cccccc;
            color: darkturquoise;
          }
          

h1{
    color: gold;
    font-style: oblique;
}
h2{
    color: tomato;
    font-style: italic;
}
h3{
    color: lightcoral;
    font-style: unset;
}
a
{
color: lemonchiffon;
text-decoration: none;
}

 a:hover{
    color: mediumblue;
    text-decoration: none;
    background-color: cadetblue;
      

}
.details{
    display: flex;

}
.image{
    display: flex;
    
    
    
}
.image linkedin{
    width: 300px;

    padding: 50px;
    margin: 20px;
}
.image github{
    width: 300px;

    padding: 50px;
    margin: 20px;
}
.image gmail{
    width: 300px;

    padding: 50px;
    margin: 20px;
}




